.team_d {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  align-items: center;
}
.about_grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  //padding: 50px 0;
  box-sizing: border-box;
  grid-gap: 40px;
  .about_grid_item {
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    gap: 10px;
    .about_grid_item_image {
      position: relative;
      .title {
        font-size: 14px;
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10px;
        background: var(--primary-color);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .about_grid_item_content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h3 {
        font-size: 20px;
        margin: 0;
        font-weight: 700;
        //color: $color-primary;
      }
    }
  }
}
.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  grid-gap: 40px;
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    width: 350px;
    padding: 20px;
    border-radius: 6px;
    .icon {
      width: 100px;
      height: 100px;
      img {
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
  .bullets {
  }
  .image {
    width: 100%;
    min-width: 350px;
    max-width: 550px;
    @media only screen and (max-width: 768px) {
      margin: 20px;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 32px;
    margin: 20px 0;
  }
}
